fastapi
uvicorn
requests
beautifulsoup4
pandas
openpyxl
python-multipart
selenium
webdriver-manager
python-dotenv
serpapi
google-search-results
googlemaps
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
apify-client
openai